//Nota inportante todas las variables de cada pagina de la aplicacion estaran enserradas en "//"
// y las variables de los componentes  unicos de cada pagina seran "/*  */"
// esto solo sera en la parte de arriba antes "@media screen" alli se pierde el orden
// si te preguntas porque es por que me dio pereza xD
// si tu quieres ordenarlo haslo y borra esa parte gracias :D
// todas las variables de componentes que se usan en mas de una pigina iran a globales directamente

/* letras */
@font-face {
  font-family: "Galano";
  src: url("../static/GalanoGrotesqueDEMO-Bold.woff") format("woff2"),
    url("../static/GalanoGrotesqueDEMO-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helveltica";
  src: url("../static/HelveticaNeue-Light.woff2") format("woff2"),
    url("../static/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* mixins */
@mixin titulo {
  font-family: "Galano";
}
@mixin contenido {
  font-family: "Helveltica";
}

/* variables */
:root {
  // globales
  --color-azul: #406aff;
  --color-azul-2: #40c9ff;
  --titulo: "Galano";
  --contenido: "Helveltica";
  --tamano-h2-targeta-decorativa: 18px;
  --color-de-footer: #e2e2e2;
  --color-de-buscador: #f8f8f8;

  // inicio
  /* inicio */
  --subrayado: 0;
  --tamano-de-globos: 75px;
  --tamano-de-titulo-e-input: 40%;
  --tamano-de-ciudad: auto;
  --ubicacion-de-cuadrados: -8%;
  --tamano-de-cuadricula: 100px;

  /* populares */
  --tamano-de-verificado: 30px;

  /* usuarios */
  --tamano-de-palos-svg: 100px;
  --ubicacion-de-palos-y: 20%;

  /* integracion */
  --tamano-de-la-integracion-columnas: 1000px;
  --tamano-de-la-integracion: none;

  /* automatizar */
  --tamano-de-palos-de-libro: 24px;
  --ubicacion-de-palos-de-libro: -24px;

  /* desarrolladores */
  // fin inicio

  // buscador
  /* buscador */
  --tamano-de-buscador: 50%;

  /* componentes */
  --separacion-de-boton-on-off: 20px;
  --separacion-de-botones-de-lista: 20px;
  --color-boton-de-componente: #949494;
  --padding-de-botones-de-lista: 50px;
  --left-pocicion: 43px;

  // fin buscador

  /* lg */
  @media screen and (max-width: 1904px) {
    /* inicio */
    --tamano-de-ciudad: 1904px;
  }
  /* md */
  @media screen and (max-width: 1264px) {
    // globales
    --desaparecer-en-celulares: flex;
    --pading-header: 50px;
    --margin-de-botones-de-header: 20px;
    --tamano-de-footer: 300px;

    /* inicio */
    --tamano-de-ciudad: auto;
    --alinear-lista-de-inicio: none;

    /* usuarios */
    --tamano-de-imagen-de-usuario-x: 10rem;
    --tamano-de-imagen-de-usuario-y: 6.5rem;
    --ubicacion-de-palos-y: 20%;

    /* desarrolladores */
    --tamano-de-carta: 250px;
  }
  /* sm */
  @media screen and (max-width: 960px) {
    // inicio
    --tamano-de-titulo-e-input: 60%;
    --alinear-lista-de-inicio: center;

    // globales
    --desaparecer-en-celulares: none;
    --desaparecer-en-celulares-pequenos: flex;
    --tamano-letra-targeta-decorativa: 13px;
    --pading-header: 5px;
    --margin-de-botones-de-header: 5px;
    --tamano-de-footer: auto;

    /* usuarios */
    --tamano-de-imagen-de-usuario-x: 8rem;
    --tamano-de-imagen-de-usuario-y: 5rem;
    --ubicacion-de-palos-y: 10%;

    /* integracion */
    --tamano-de-la-integracion-columnas: auto;
    --tamano-de-la-integracion: 800px;

    /* desarrolladores */
    --tamano-de-carta: auto;

    /* buscador */
    --tamano-de-buscador: 75%;

    /* componentes */
    --separacion-de-botones-de-lista: 0;
  }
  /* xs */
  @media screen and (max-width: 600px) {
    // inicio
    --tamano-de-titulo-e-input: 70%;

    /* usuario */
    --ubicacion-de-palos-y: 18%;

    /* globales */
    --desaparecer-en-celulares-pequenos: none;

    /* componentes */
    --separacion-de-boton-on-off: 0px;
    --padding-de-botones-de-lista: 0px;
  }
}
